<label>
  Page name
  <input type="text" [formControl]="pageName">
</label>
<p>
  Value: https://bitraf.no/wiki/{{ pageName.value }}
  <button (click)="generate()">Generate</button>
</p>
<p>
  Downloads:
</p>
<ul>
  <li *ngFor="let d of downloads">
    <!-- <a href={{ d }}>{{d}}</a> -->
    {{d}}
  </li>
</ul>
<hr/>
<section *ngIf="ready">
<figure style="float: right">
<span [innerHtml]="svgText"></span>
<figcaption>{{pageUrl}}</figcaption>
</figure>
<h1>{{title}}</h1>

<h2>Hazards</h2>
<ul>
<li *ngFor="let i of hazards">{{i["@id"]}}</li>
</ul>

<h2>Required training</h2>
<ul>
<li *ngFor="let i of requiredTrainings">{{i["@id"]}}</li>
</ul>

<h2>Required personal protection equipment</h2>
<ul>
<li *ngFor="let i of requiredPpes">
{{i.label}}
<img src={{i.icon}}/>
</li>
</ul>
</section>
