<section id="input">
<label>
  Page name
  <input type="text" [formControl]="pageName">
</label>
<p>
  Value: https://bitraf.no/wiki/{{ pageName.value }}
  <button (click)="generate()">Generate</button>
</p>
<p>
  Downloads:
</p>
<ul>
  <li *ngFor="let d of downloads">
    <!-- <a href={{ d }}>{{d}}</a> -->
    {{d.url}}, done={{d.done}}
  </li>
</ul>
<hr/>
</section>
<section id="status" *ngIf="status">
  <p>{{status}}</p>
  <p>Check the console!</p>
</section>


<section id="sign" *ngIf="ready">

<div id="qr" style="float: right">
<figure>
  <span id=qr-code [innerHtml]="svgText"></span>
  <figcaption>{{pageUrl}}</figcaption>
</figure>
</div>

<div>
<h1>{{title}}</h1>

<section id="hazards">
<h2>Hazards</h2>
<figure *ngFor="let i of hazards" class=icon>
  <img *ngIf="i.icon" class=icon src={{i.icon}}/>
  <figcaption>{{i.label}}</figcaption>
</figure>
</section>

<section id=ppe>
<h2>Required personal protection equipment</h2>
<figure *ngFor="let i of requiredPpes" class=icon>
  <img *ngIf="i.icon" class=icon src={{i.icon}}/>
  <figcaption>{{i.label}}</figcaption>
</figure>
</section>

<section id="training">
<h2>Required training</h2>
<ul>
<li *ngFor="let i of requiredTrainings">
  {{i.label}}
  <img *ngIf="i.icon" width="50" height="50" src={{i.icon}}/>
</li>
</ul>
</section>

</div>
</section>
