/* disable for now */
section#training {
  display: none;
}

#ppe h2, #hazards h2 {
  display: none;
}

.icon {
  float: left;
}

#ppe {
  clear: left;
}

figcaption {
  text-align: center;
}

section img {
  width: 3cm;
  height: 3cm;
}

#qr figcaption {
  font-weight: bold;
  font-size: larger;
}

section#bottom {
  clear: both;
  position: fixed;
  bottom: 5mm;
}
