<section id="input">
<h1>HMS sheet generator</h1>
<p>
This page will generate a page that can be printet on A5 paper sheets. This application and the pages are by and for <a href="https://bitraf.no/wiki/HMS">Bitraf's HMS system</a>.
</p>
<p>
The application will pull the required data from Bitraf's wiki, it is a bit slow so give it some time to download all the data and pictures.
</p>
<label>
  Wiki page name
  <input type="text" [formControl]="pageName">
</label>
<button (click)="generate()">Generate</button>

<section *ngIf=false>
<p>Downloads:</p>
<ul>
  <li *ngFor="let d of downloads">
    <!-- <a href={{ d }}>{{d}}</a> -->
    {{d.url}}, done={{d.done}}
  </li>
</ul>
</section>

<hr/>
</section>
<section id="status" *ngIf="status">
  <p>{{status}}</p>
  <p>Check the console!</p>
</section>


<section id="sign" *ngIf="ready && activeDownloads == 0">

<div id="qr" style="float: right">
<figure>
  <span id=qr-code [innerHtml]="svgText"></span>
</figure>
</div>

<div>
<h1>{{title}}</h1>

<section id="hazards">
<h2>Hazards</h2>
<figure *ngFor="let i of hazards" class=icon>
  <img *ngIf="i.icon" class=icon src={{i.icon}}/>
  <figcaption>{{i.label}}</figcaption>
</figure>
</section>

<section id=ppe>
<h2>Required personal protection equipment</h2>
<figure *ngFor="let i of requiredPpes" class=icon>
  <img *ngIf="i.icon" class=icon src={{i.icon}}/>
  <figcaption>{{i.label}}</figcaption>
</figure>
</section>

<section id="training">
<h2>Required training</h2>
<ul>
<li *ngFor="let i of requiredTrainings">
  {{i.label}}
  <img *ngIf="i.icon" width="50" height="50" src={{i.icon}}/>
</li>
</ul>
</section>

<section id=bottom>
<div id=page-url>For more info scan the QR code or see: <a href={{pageUrl}}>{{pageUrl}}</a>.</div>
<div id=page-url>Last EHS review: {{lastEhsReview}}</div>
</section>

</div>
</section>
